<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficr To Do - Página Principal</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/src/assets/css/paginaPrincipal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

</head>

<body id="corpoPaginaPrincipal">

    <div class="flex-container" id="containerPagina">
        <div>
            <!--Siderbar esquerda-->
            <div class="sidebar">
                <header class="sidebar-header">
                    <img class="usuario-img" src="https://sujeitoprogramador.com/steve.png" alt="Foto do usuário" />
                    <div id="dadosUsuario">
                    </div>
                </header>

                <nav>
                    <button id="btnMeuDia">
                        <span>
                            <i class="material-symbols-rounded" style="color: #FBB708;">light_mode</i>
                            <span>Meu dia</span>
                        </span>
                    </button>

                    <button id="btnImportante">
                        <span>
                            <i class="material-symbols-rounded" style="color: #E19EEC;">star</i>
                            <span>Importante</span>
                        </span>
                    </button>

                    <button id="btnTarefas">
                        <span>
                            <i class="material-symbols-rounded" style="color: #82B7E9;">home</i>
                            <span>Tarefas</span>
                        </span>
                    </button>

                    <button id="btnLixeira">
                        <span>
                            <i class="material-symbols-rounded" style="color: #FB5C5C;">delete</i>
                            <span>Lixeira</span>
                        </span>
                    </button>

                    <hr style="width: 100%;">

                    <div id="divGruposCriados">

                        <div id='divCriarGrupo'>
                            <input id="inputNovoGrupo" type='text' placeholder='Nome do grupo'>
                            <button id="btnCriarGrupo" onclick="criarGrupo()">
                                <i class="material-symbols-rounded" style="color: #B6DF82;">check</i>
                            </button>
                            <button id="btnCancelarCriarGrupo" onclick="cancelarCriacaoGrupo()">
                                <i class="material-symbols-rounded" style="color: #FB5C5C;">close</i>
                            </button>
                        </div>

                    </div>

                    <button id="novoGrupo">
                        <span>
                            <i class="material-symbols-rounded" style="color: #fff;">add</i>
                            <span>Novo Grupo</span>
                        </span>
                    </button>
                </nav>
            </div>
        </div>

        <div>
            <!--Conteúdo da página-->
            <main>
                <div id="divMainheaders">
                    <!--Cabeçalhos do conteúdo-->
                    <div id="meuDia">
                        <i class="material-symbols-rounded" style="color: #FBB708;">light_mode</i>
                        <h1>Meu Dia</h1>
                        <p id="dataAtual"></p>
                    </div>

                    <div id="importante" class="main-headers">
                        <i class="material-symbols-rounded" style="color: #E19EEC;">star</i>
                        <h1>Importante</h1>
                    </div>

                    <div id="tarefas" class="main-headers">
                        <i class="material-symbols-rounded" style="color: #82B7E9;">home</i>
                        <h1>Tarefas</h1>
                    </div>

                    <div id="lixeira" class="main-headers">
                        <i class="material-symbols-rounded" style="color: #FB5C5C;">delete</i>
                        <h1>Lixeira</h1>
                    </div>
                    <div id="divMainHeadersGrupo" class="main-headers">

                    </div>
                </div>


                <!--Conteúdo Principal-->
                <div id="main-content">

                </div>
                <!--footer para adicionar tarefas-->
                <footer id="footerNovaTarefa">
                    <div id="divAdicionarTarefa">
                        <button id="adicionarTarefa">
                            <span>
                                <i class="material-symbols-rounded" style="color: #fff;">add</i>
                                <span>Adicionar uma tarefa</span>
                            </span>
                        </button>

                        <i class="material-symbols-rounded circulos" id="circuloNovaTarefa"
                            style="color: #fff; display: none;">circle</i>
                        <input id="inputNovaTarefa" type="text" disabled>

                        <label id="btnCriarTarefa" onclick="criarTarefa()" style="display:none">
                            <span>
                                <i class="material-symbols-rounded" style="color: #B6DF82;">check</i>
                            </span>
                        </label>

                        <label id="btnCancelarCriacaoTarefa" onclick="cancelarCriacaoTarefa()" style="display:none">
                            <span>
                                <i class="material-symbols-rounded" style="color: #FB5C5C;">close</i>
                            </span>
                        </label>

                        <label id="btnCalendario">
                            <span class="input-icons">
                                <input type="date" style="display:none" class="flatpickr-input" id="inputBtnCalendario">
                                <i class="material-symbols-rounded" style="color: #fff">calendar_month</i>
                                </input>
                            </span>
                        </label>

                        <label id="btnAlarme">
                            <span class="input-icons">
                                <input id="inputBtnAlarme" type="datetime" style="display:none">
                                <i class="material-symbols-rounded" style="color: #fff">alarm</i>
                                </input>
                            </span>
                        </label>

                        <label id="btnLoop">
                            <span>
                                <input type="text" style="display:none">
                                <i class="material-symbols-rounded" style="color: #fff">laps</i>
                                </input>
                            </span>
                        </label>

                        <!-- 
                        <button id="btnAlarme" class="btnsMain">
                            <span class="input-icons">
                                <input type="date-time" class="input-field" style="border: 1px solid red;">
                                <i class="material-symbols-rounded" style="color: #fff;">alarm</i>
                            </span>
                        </button> -->
                        <!-- 
                        <button id="btnLoop" class="btnsMain">
                            <span>
                                <i class="material-symbols-rounded" style="color: #fff;">laps</i>
                            </span>
                        </button> -->
                    </div>
                </footer>
            </main>
        </div>

        <!--Siderbar direita-->
        <div id="divSidebarDireita" style="display: none">

            <aside class="sidebar-direita" id="sidebar-direita">

                <div id="divScrollSidebardireita">

                    <button type="button" id="btnCloseSideBarDireita" class="btnsMain">
                        <span>
                            <i class="material-symbols-rounded" style="color: #fff;">close</i>
                        </span>
                    </button>

                    <div class="divsInformacoesTarefas" id="divTarefaEtapa">

                        <header id="headerSidebarDireita">
                            <button style="width: fit-content; height: 100%;" class="btnCirculoTarefa1"
                                name="btnCirculoTarefa1" onclick="concluirTarefa(this.name)">

                                <i class="material-symbols-rounded circulos" id="circuloTarefas"
                                    style="color: #fff;">circle</i>

                            </button>

                            <button style="width: fit-content; height: 100%; display:none"
                                class="btnCirculoTarefa1Concluida" name="btnCirculoTarefa1Concluida"
                                onclick="concluirTarefa(this.name)">

                                <i class="material-icons circulos" id="circuloTarefasConcluidas"
                                    style="color: #fff; ">check_circle</i>

                            </button>

                            <div id="divH4">
                                <h4>Tarefa Teste</h4>
                            </div>

                            <button style="width: fit-content; height: 100%;" onclick="definirImportante(this.name)"
                                class="btnEstrelaTarefa1" name="btnEstrelaTarefa1">
                                <i class="material-symbols-rounded estrelas" id="estrelaTarefas"
                                    style="color: #E19EEC;">star</i>
                            </button>

                            <button style="width: fit-content; height: 100%; display:none"
                                class="btnEstrelaTarefa1Importante" name="btnEstrelaTarefa1Importante"
                                onclick="definirImportante(this.name)">
                                <i class="material-icons estrelas" id="estrelaTarefasImportantes"
                                    style="color: #E19EEC;">star</i>
                            </button>
                        </header>
                        <div>
                            <button id="adicionarEtapa">
                                <span>
                                    <i class="material-symbols-rounded" style="color: #fff;">add</i>
                                    <span>Adicionar uma etapa</span>
                                </span>
                            </button>

                            <button id="btnEtapa">
                                <i class="material-symbols-rounded" id="circuloNovaEtapa"
                                    style="color: #fff;">fiber_manual_record</i>
                                <input id="inputNovaEtapa" type="text" disabled>
                            </button>

                        </div>
                    </div>

                    <div class="divsInformacoesTarefas" id="divTarefaDados">

                        <div>
                            <button id="btnLembrete" class="btnsTarefaDados">
                                <span>
                                    <i class="material-symbols-rounded" style="color: #fff;">calendar_month</i>
                                    <p> Lembre-me às 09:00 Hoje</p>
                                    <i class="material-symbols-rounded" style="color: #fff;">close</i>
                                </span>
                            </button>

                            <hr style="width: 90%; color: #fff;">
                        </div>

                        <div>
                            <button id="btnAlarme" class="btnsTarefaDados">
                                <span>
                                    <i class="material-symbols-rounded" style="color: #fff;"
                                        onclick="testeClique()">alarm</i>
                                    <p onclick="testeClique()">Para 01/04/2023</p>
                                    <i class="material-symbols-rounded" id="testeClique" style="color: #fff;"
                                        onclick="testeCliqueClose()">close</i>
                                </span>
                            </button>

                            <hr style="width: 90%; color: #fff;">
                        </div>

                        <div>
                            <button id="btnLoop" class="btnsTarefaDados">
                                <span>
                                    <i class="material-symbols-rounded" style="color: #fff;">laps</i>
                                    <p>Diariamente</p>
                                    <i class="material-symbols-rounded" style="color: #fff;">close</i>
                                </span>
                            </button>

                            <hr style="width: 90%; color: #fff;">
                        </div>
                    </div>

                    <div class="divsInformacoesTarefas" id="divTarefaArquivos">

                        <div id="divArquivos">

                        </div>

                        <label class="custom-file-upload" id="adicionarArquivo">
                            <input type="file">
                            <span>
                                <i class="material-symbols-rounded" style="color: #fff;">attach_file</i>
                                <span>Adicionar arquivo</span>
                            </span>
                            </input>
                        </label>


                    </div>

                    <textarea class="divsInformacoesTarefas" id="textAreaTarefaAnotacao"
                        placeholder="Adicionar anotação"></textarea>

                    <hr style="width: 100%;">

                    <div id="divDtCriacao">
                        <p>Criada em 08/04/2023
                            às 12:09
                        </p>
                        <button id="btnExcluirTarefa" class="btnExcluirTarefaSidebarDireita">

                            <i class="material-symbols-rounded btnExcluirTarefaSidebarDireita"
                                style="color: #FB5C5C; vertical-align: middle">delete</i>

                        </button>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</body>

<script src="/src/assets/js/paginaPrincipal.js"></script>
<script src="/src/assets/js/criarGrupo.js"></script>
<script src="/src/assets/js/criarTarefa.js"></script>
<script src="/src/assets/js/atualizarTarefa.js"></script>
<script src="/src/assets/js/deletarTarefa.js"></script>
<script src="/src/assets/js/listarInformações.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    configDateTime = {
        enableTime: true,
        dateFormat: "Y-m-d H:i"
    }

    flatpickr("input[type=date]", {});
    flatpickr("input[type=datetime]", configDateTime);

</script>

</html>